<div class="row">
    
    <div class="col-md-12">
        <h1 class="display-4" >Welcome to Gitman!</h1>
        

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

           
           
           
        </div>
    </div>
</div>
  
 <div [ngSwitch]=" latestBuild.hasOwnProperty('status') ">
  <div class="alert alert-success" *ngSwitchCase="true" >
    
    Latest build  status <strong>{{latestBuild.status}}</strong> stage <b>{{latestBuild.stage}}</b> on <b>{{latestBuild.ref}}</b>
  

  </div>
  <div class="alert alert-success" *ngSwitchCase="false">
     <fa name="spinner" animation="spin"></fa>Retrieving latest build information
    
  </div>
 </div>



<p class="lead" >Envirnonment Data </p>
<p>
  <!-- <ngb-progressbar value="{{currentPage}}" showValue="true" ></ngb-progressbar> -->
  Loaded last {{processedDeployments}} pages out of {{gitlab.lastPage}};
</p>
  
<hr/>

<div class="row" *ngFor = " let entry of getEnvironmentNames() ">
    <div class="col-sm-1 text-right" ><b>{{entry}}  </b></div>
       <div class="col-sm-1 text-left" > <button type="button" class="btn btn-outline-primary" (click)="deploymentGroups.get(entry).collapsed = !deploymentGroups.get(entry).collapsed"
          [attr.aria-expanded]="deploymentGroups.get(entry).collapsed" aria-controls="collapseExample">
            {{deploymentGroups.get(entry).gitData.length}}
        </button></div>
        <div class="col-sm-2 text-center" > <!--{{deploymentGroups.get(entry).gitData[deploymentGroups.get(entry).gitData.length-1].deployable.status}} -->
          
          {{deploymentGroups.get(entry).gitData[deploymentGroups.get(entry).gitData.length-1].deployable.status}}
        </div>
        <div class="col-sm-2 text-center" >Last commit {{deploymentGroups.get(entry).gitData[deploymentGroups.get(entry).gitData.length-1].sha.substring(0,5)}}</div>
        <div class="col-sm-3 text-center" >__Locked_Status__</div>
        <div class="col-sm-3 text-center" >__Locked_By__</div>
        <div id="collapseExample" class="col-sm-12" [ngbCollapse]="!deploymentGroups.get(entry).collapsed">
               
                 <div [ngSwitch]="deploymentGroups.get(entry).checkMK == null">
                    <div class="alert alert-success" *ngSwitchCase="false">
                             CheckMK {{deploymentGroups.get(entry).checkMK}}
                              <a class="btn" href="#" (click)="getCheckMKStatus(entry)"><fa name="refresh"></fa>Refresh</a>

                    </div>
                    <div class="alert alert-warning" *ngSwitchCase="true">
                         
                         <a href="#" class="btn" (click)="getCheckMKStatus(entry)">
                           <fa name="search-plus"></fa>
                              CheckMK Status
                         </a>
                    </div>
                 </div>


                <div class="panel-group">
                <div class="panel panel-primary">
                  <div class="panel-heading">Enrironment Actions</div>
                  <div class="panel-body">
                       <button type="button" class="btn btn-outline-primary">Lock The Envorionment</button>
                       <button type="button" class="btn btn-outline-primary">Run/Schedule ZAT Test Suite</button>
                       <button type="button" class="btn btn-outline-primary">Download Config Properties</button>
                       <button type="button" class="btn btn-outline-primary">View Logs</button>
                       <button type="button" class="btn btn-outline-primary">Redeploy</button>
                  </div>
                </div>
                 <div class="panel panel-default">
                    <div class="panel-heading">Database Actions</div>
                     <div class="panel-body">
                        <button type="button" class="btn btn-outline-primary">Cleanup Database</button>
                        <button type="button" class="btn btn-outline-primary">Run initStaticData on this environment</button>
                        <button type="button" class="btn btn-outline-primary">Setup a local tunnel via ssh</button></div>
                    </div>
                </div>


                
                    <table class="table table-striped">
                     <thead>
                            <tr>
                                <th>User</th>
                                <th>Ref</th>
                                <th>Sha</th>
                                <th>Status</th>
                                <th>Stage</th>
                                <th>Finished At</th>
                            </tr>
                        </thead>
                        <tbody>
                         <tr *ngFor="let item of deploymentGroups.get(entry).gitData">
                                <td>{{item.user.name}}</td>
                                <td>{{item.id}}</td>
                                <td>{{item.sha}}</td>
                                <td>{{item.deployable.status}}</td>
                                <td>{{item.deployable.stage}}</td>
                                <td>{{item.deployable.finished_at| date:'dd, MMM y HH:mm'}}</td>
                            </tr>
                        </tbody>
                    </table>
                

       </div>

    </div> 
</div>




